<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Climate Solutions</title>
  <link rel="stylesheet" href="/css/main.css" />
  <script>
    document.addEventListener("DOMContentLoaded", async ()=>{

        let res = await fetch("https://dummyjson.com/quotes/random");
        let data = await res.json();

        document.getElementById("quote").innerHTML = `"${data.quote}"<br />- <em>${data.author}</em>`;
    });
  </script>

</head>

<body tabindex="-1">

  <%- include('partials/navbar', {page: ''}) %>

  <div class="container mx-auto p-4">

    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-lg">
          <h1 class="text-5xl font-bold"><%= project.title %></h1>

          <p class="py-6">Below, you will find detailed information about the project: <%= project.title %></p>

        </div>
      </div>
    </div>

    <br />

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
          <img class="w-full rounded-lg"
            src="<%= project.feature_img_url %>"
            alt=" Set Image" />
      </div>
      <div class="prose">

       <p>
        <%= project.intro_short %> <br /><br />
        <span class="font-bold">Impact: </span><br /><br /> <%= project.impact %> <br /><br />

        <span class="font-bold">More Information: </span> <a href="<%= project.original_source_url %>" target="_blank"><%= project.original_source_url %></a><br /><br />

        <span id="quote"></span>
        <br /><br />
        <a class="btn btn-success btn-sm" href="/solutions/editProject/<%= project.id %>">EDIT PROJECT: <%= project.title.toUpperCase() %></a><br /><br />
        <a class="btn btn-primary btn-sm" href="#" onclick="history.back(); return false;">RETURN</a><br /><br />
       </p>

      </div>

    </div>

  </div>
</body>

</html>